body {    
    color: #ccc;
    background-color: #222;
    font-family: "Segoe UI";
    font-size: 13px;
    zoom: 1;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    user-select: none;
}

/*---------------------------titlebar ------------------------*/


.menubar {
    background-image: linear-gradient(to right, #333 40%, #555 50%, #333 60%);
    background-size: 250% 100%; /* css trick https://www.scottcole.net/animating-linear-gradient-button-links/ */
    color: #aaa;
    display: flex;
    height: 30px;
    line-height: 30px;
    justify-content: space-between;
}

.menubar_loading {
    animation-name: menubar_loading_animation;
    animation-delay: 0.2s;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes menubar_loading_animation {
    0% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.menu_container, .window_sys_control {
    display: flex;
}

.menu_item {
    padding: 0px 8px 0px 8px;
}

.titlebar_draggable {
    -webkit-app-region: drag;
    flex-grow: 1;
}

.menu_item, [class^="codicon-chrome-"] {
    transition: background-color 0.2s, color 0.2s;
}

.menu_item:hover, [class^="codicon-chrome-"]:hover {
    background-color: #555;
    color: #ccc;
    transition: background-color 0.1s, color 0.1s;
}

[class^="codicon-chrome-"] {
    font-family: "codicon";
    font-size: 16px;
    padding: 0px 16px 0px 16px;
}


/* ---------------------------panels -----------------------*/
.main_view {
    display: flex;
    justify-content: space-between;
    border-width: 0px 2px 2px 2px;
    border-color: #333;
    border-style: solid;
    height: calc(100vh - 35px);
}

.panel_center {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px;
    overflow: hidden;
    min-width: 400px;;
}

.panel_left, .panel_right {
    flex-grow: 0;
    flex-shrink: 0;
}

.panel_left {
    width: 10px;
}

.panel_right {
    width: 400px;
}


/* --------------------- main list --------------------------*/

.main_list {
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
}

.header_row {
    padding-right: 8px;
}

.main_list_row {
    height: 30px;
    line-height: 30px;
    display: flex;
    transition: background-color 0.2s;
}

.main_list_row:hover {
    background-color: #444;
    transition: background-color 0.1s;
}

.main_list_row > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.even_row {
    background-color: #282828;
}

.main_list_col_0 {
    width: 40%;
}

.main_list_col_1 {
    width: 20%;
}

.main_list_col_2 {
    width: 10%
}

.main_list_col_3 {
    width: 30%
}

[class^="main_list_col_"] {
    padding-left: 6px;
    padding-right: 12px;
}

/* scroll enabled - https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

.scroll_enabled {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll_enabled::-webkit-scrollbar {
    width: 8px;
}
.scroll_enabled::-webkit-scrollbar-thumb {
    background-color: #444;
    background-clip: content-box;
    border-radius: 6px;
    min-width: 32px;
    min-height: 32px;
}