body {
    background-color: #222;
    color: #ccc;
    font-family: "Segoe UI";
    font-size: 13px;
    zoom: 1;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    user-select: none;
}

.menubar {
    background-color: #333;
    color: #aaa;
    display: flex;
    height: 30px;
    line-height: 30px;
    justify-content: space-between;
}

.menu_container, .window_sys_control {
    display: flex;
}

.menu_item {
    padding: 0px 8px 0px 8px;
}

.titlebar_draggable {
    -webkit-app-region: drag;
    flex-grow: 1;
}

.menu_item:hover, [class^="codicon-chrome-"]:hover {
    background-color: #666;
    color: #ccc;
}

[class^="codicon-chrome-"] {
    font-family: "codicon";
    font-size: 16px;
    padding: 0px 16px 0px 16px;
}